body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  
}

.title{
  font-size: 3rem;
  text-align: center;
  color: #fff;
}
