body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);
  
}

.title{
  font-size: 3rem;
  text-align: center;
  color: #fff;
}

.error{
  background-color: #9c2c2c;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
/*  ESTILOS PARA LAS TAREAS */
.task-list{
  list-style-type: none;
  margin-top: 2rem;
  padding: 0;
  padding: 2rem;
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.task-item--complete{
  text-decoration: line-through;
  background-color: #bdbbbb;
}

.delete{
  padding: .5rem;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #9c2c2c;
  color: #fff;

  cursor: pointer;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}